<div class="grid gap-3">
  <%= mark do %>
    # Über
    
    Gewinnspiel der [Fleischerei Konrad Pfandl](https://www.fleischerei-pfandl.at/), Unterer Platz 3, 9300 St. Veit an der Glan für den St. Veiter Wiesenmarkt 2024. Betrieben mit [opentrink](https://github.com/peterhass/opentrink) ([Lizenz](https://github.com/peterhass/opentrink/blob/main/LICENSE)).
  <% end %>
</div>
