<div class="grid gap-3">
  <%= mark do %>
    # Impressum
    
    PFANDL KONRAD

    Unterer Platz 3<br>
    9300 Sankt Veit an der Glan<br>
    Telefon 0043 4212 2269
    Mobiltelefon 0043 699 143 43 212

    <%= mail_to 'anfrage@fleischerei-pfandl.at' %>

     
    ## VOLLSTÄNDIGER FIRMENNAME

    Konrad Pfandl

    ## ORT DER GEWERBEBERECHTIGUNG

    Unterer Platz 3/3<br>
    9300 St. Veit an der Glan<br>
    Österreich

    ## UID-NUMMER

    ATU 65329922

    ## RECHTSFORM

    Einzelunternehmen

    ## GESCHÄFTSFÜHRUNG/JURISTISCHE PERSON

    Konrad Pfandl

    ## ZUSÄTZLICHE INFORMATIONSPFLICHT

    Bilder auf der Website stammen entweder von eigenen Fotografien oder von den Bilddatenbanken panthermedia.net sowie fotolia.com.

    ## UNTERNEHMENSGEGENSTAND

    Fleischer

    ## KAMMER/BERUFSVERBAND-ZUGEHÖRIGKEIT(EN)

    Mitglied der Wirtschaftskammer Kärnten, FG Gastronomie, LI Lebensmittelgewerbe

    ## AUFSICHTSBEHÖRDE

    Bezirkshauptmannschaft Sankt Veit an der Glan

    ## GEWERBEORDNUNG

    Fleischer (Handwerk) gemäß § 94 Z 19 GewO 1994
    Gastgewerbe in der Betriebsart "Buffet-Jausenstation" mit der Berechtigung gemäß § 111 Abs.1 Ziffer 2 (eingeschränkt) GewO 1994

    Anwendbare gewerbe- oder berufsrechtliche Vorschriften: Gewerbeordnung 1994, abrufbar unter http://www.ris.bka.gv.at

    ## Allgemeine Nutzungsbedingungen

    ### 1. Haftungsausschluss
    Obwohl die Seiten mit größter Sorgfalt erstellt wurden, kann keine Gewähr für die Richtigkeit, Vollständigkeit und Aktualität der bereitgestellten Informationen übernommen werden. Der Betreiber der Website bemüht sich darum, Fehler oder Irrtümer zu berichtigen, wenn er Kenntnis davon erhält – danke für diesbezügliche Hinweise. Es wird auch keine Gewähr für die Verfügbarkeit oder den Betrieb der gegenständlichen Website und ihrer Inhalte übernommen. Jede Haftung für unmittelbare, mittelbare oder sonstige Schäden, unabhängig von deren Ursachen, die aus der Benutzung oder Nichtverfügbarkeit der Website sowie der bereitgestellten Informationen auf dieser Website erwachsen, wird – soweit rechtlich zulässig – ausgeschlossen.

    ### 2. Copyright

    Der Inhalt dieser Website ist urheberrechtlich geschützt. Die Informationen sind nur für die persönliche Verwendung bestimmt. Jede weitergehende Nutzung, insbesondere die Speicherung in Datenbanken, Vervielfältigung und jede Form von gewerblicher Nutzung sowie die Weitergabe an Dritte – auch in Teilen oder in überarbeiteter Form, insbesondere von Fotos, Abbildungen und Texten – ohne Zustimmung des Betreibers der Website ist untersagt.

    ### 3. Haftung für Links

    Diese Website kann Links zu externen Websites enthalten, jedoch hat der Betreiber der Website keinen Einfluss auf diese Zielseiten. Deshalb wird für diese fremden Inhalte auch keine Gewähr übernommen, dafür ist stets der jeweilige Anbieter der Seiten verantwortlich.
  <% end %>
</div>
