<div class="grid gap-3">
  <%= mark do %>
    # Datenschutz

    **Verantwortlicher für die Datenverarbeitung**:
    Pfandl Konrad<br>
    Unterer Platz 3<br>
    9300 Sankt Veit an der Glan<br>
    Telefon 0043 4212 2269<br>
    Mobiltelefon 0043 699 143 43 212

    anfrage@fleischerei-pfandl.at
    
    Wir speichern ausschließlich den von dir ausgewählten Namen, sowie den Zeitpunkt und Menge der von dir bestellten Biere (sofern du deinen Registrations-QR-Code vorzeigst). Sofern du unter den besten 5 bist, zeigen wir deinen Namen und die Anzahl der von dir bestellten Biere öffentlich auf einer Leinwand. Es steht dir frei einen beliebigen Namen zu wählen (dein voller Vor- und Nachname ist somit nicht für die Teilnahme notwendig). Die gesammelten Daten werden unmittelbar nach der Siegerehrung gelöscht. 

    Um die Registrierung in deinem Webbrowser zu speichern, setzen wir ein persistentes Cookie `opentrink_session`.
  <% end %>
</div>
