<ul class="classic-ul">
  <% @scoreboard.participant_scores.each do |score| %>
    <li>
      <%= render(ParticipantDisplayName.new(score.participant)) %>: <%= score.total%>
    </li>
  <% end %>
</ul>
