<h1>Teilnehmer</h1>
<p>
  Anzahl der Teilnehmer: <%= @participants.count %>
</p>
<ul class="classic-ul">
  <% @participants.each do |participant| %>
    <li>
      <%= link_to participant.name, participant_consumptions_path(participant.id) %>
      <%= "(#{participant.created_at.to_formatted_s})" %>
    </li>
  <% end %>
</ul>
