<h1>Konsum von <%= render ParticipantDisplayName.new(@participant) %></h1>

<ul class="classic-ul">
  <% @consumptions.each do |consumption| %>
    <li>
      <%= consumption.created_at.iso8601 %>
      <strong><%= consumption.count %> Stk</strong>
    </li>
  <% end %>
</ul>
