<h1 class="text-xl font-bold">Teilnehmer nicht gefunden</h1>
<p>Mögliche Problemlösung: Bitte den Teilnehmer die Teilnehmer-Seite neu zu laden ("Hallo Bob" + QR-Code) und scanne den QR-Code erneut.</p>
