@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

@layer base {
	/*
	@font-face {
		font-family: 'Anton';
		src: font-url('Anton-Regular.ttf') format('truetype');
	}
	*/

	a:not(a.unstyled) {
		@apply font-medium text-blue-600 hover:underline;
	}
}

@layer components {
}
